.friends-page {
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20rpx;
  display: flex;
  flex-direction: column;
}

.page-header {
  margin-bottom: 30rpx;
}

.page-title {
  font-size: 30rpx;
  font-weight: 600;
  color: #333;
}

.friends-list {
  flex: 1;
  background-color: #fff;
  border-radius: 8rpx;
  box-shadow: 0 2rpx 8rpx rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.friend-item {
  display: flex;
  align-items: center;
  padding: 16rpx 20rpx;
  border-bottom: 1rpx solid #f0f0f0;
  
  &:last-child {
    border-bottom: none;
  }
}

.friend-avatar-container {
  position: relative;
  margin-right: 16rpx;
}

.friend-avatar {
  width: 50rpx;
  height: 50rpx;
  border-radius: 50%;
  border: 2rpx solid #e0e0e0;
}

.status-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16rpx;
  height: 16rpx;
  border-radius: 50%;
  border: 2rpx solid #fff;
  
  &.online {
    background-color: #4CAF50;
  }
  
  &.offline {
    background-color: #9E9E9E;
  }
}

.friend-name {
  font-size: 24rpx;
  color: #333;
  font-weight: 500;
}